node_modules
dist
build
.storybook
tests
coverage

.git
.gitignore
.husky
.editorconfig
.prettierrc
.prettierignore

*.md
*.log
.env
.env.local
.env.production

eslint.config.mjs
stylelint.config.js
vitest.config.ts
tsconfig.node.json
